<html>
<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="header">
        <h1>
            <a href="/newDoc">Insert new doctor</a>
            <a href="/getAllDoc">Get all doctors</a>
            <a href="/newPat">Insert new patient</a>
            <a href="/getAllPat">Get all patients page</a>
            <a href="/deletePat">Delete patient by fullName</a>
            <a href="/updateDoc">Update Doctor numPatients by _id</a>
        </h1>
      </div>
    <h1>Get all doctors!
    </h1>
    </br>
    <h3>Details:
        <table>
            <tr>
                <th>full name</th>
                <th>date of birth</th>
                <th>Address</th>
                <th>number of Patients</th>
            </tr>
            <% for ( let i =0; i< bDb.length;i++){ %>
                <tr>
                    <td>
                        <%= bDb[i].name.firstName + " " + bDb[i].name.lastName %>
                    </td>
                    <td>
                        <%= bDb[i].dateOfBirth %>
                    </td>
                    <td>
                        <%= bDb[i].address %>
                    </td>
                    <td>
                        <%= bDb[i].numPatients %>
                    </td>
                </tr>
                <% }%>
     </table>
    </h3>
</body>
</html>